/* index.css */
@charset "utf-8";

body{
    width: 100%; height: 100vh;
    position: relative;
    background: rgb(93,110,166);
    background: linear-gradient(45deg, rgba(93,110,166,1) 0%, rgba(104,101,139,1) 48%, rgba(95,56,163,1) 100%, rgba(134,67,190,1) 100%);
}
body .wrap{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 480px;
}
body .wrap path{
    stroke: #eeefff;
    fill: #eeefff;
    stroke-dasharray: 3000;
    opacity: 1;
    animation: ani_stroke 4s;
    stroke-width: 1;
}
@keyframes ani_stroke {
    0%{opacity: 0; stroke-dashoffset: 3000; fill: none;}
    50%{opacity: 1; stroke-dashoffset: 3000;}
    90%{fill: rgba(255, 255, 255, 0);}
    100%{opacity: 1; stroke-dashoffset: 0; fill: #eeefff;}
}
.author{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    color: #ccc;
    font-size: 14px;
    font-style: italic;
}
